/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2d2d4f7a89bf29431e4bb9ec75b9928c$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(smart_spritesheet.png);}

.empty-marker {width:28px; height:38px; background-position: -2px -2px}
.messagebox-error {width:32px; height:32px; background-position: -36px -36px}
.row-error {width:32px; height:32px; background-position: -66px -2px}
.row-invalid {width:32px; height:32px; background-position: -2px -76px}
.row-travel {width:32px; height:32px; background-position: -32px -2px}
.row-valid {width:32px; height:32px; background-position: -2px -42px}
