%p Dear user,
%p Thanks for collecting data for the FM Survey. In order to qualify for the incentive, you also need to validate 5 days of your data in the activity diary at https://fmsurvey.sg/. Please be reminded that the end date of the survey is September 30th, 2013.
%p To improve your data quality and make the validation process easier, please turn on the GPS on your phone and keep the app running for at least 10 hours a day.
%p If you need any help in the validation process, please call us at 9124 9322 or email us at fmsurvey@smart.mit.edu. We would be glad to help.
%p Thank you for your participation,
%p The FMSurvey Team.
%p Note: If you don´t want to participate in or receive more information about the Future Mobility Survey, please reply to this e-mail asking our team to remove you from the participation list.
