.col-xs-12
  %p.title_1 Support
  %p.content_i
    The questions marked with (*) are required, in order to proceed.
    %br/
    Our team will aswer you as soon as possible.
.clear
#form
  = form_tag({:action => :support_submit}, id: 'support_form') do
    .col-xs-12.col-md-6
      %table.table_info{:style => "width:95%"}
        %tbody
          %tr.info
            %td
              %p.content_b Survey Category (*):
              %p.content_i
                Please indicate in which category
                = succeed "was" do
                  %br/
            %td{:style => "text-align:right"}
              %select#surveyType
                %option Please choose an option
                %option{:value => "mobile"} Mobile Survey
                %option{:value => "web"} Web Survey
          %tr.info
            %td
          %tr.info.mobile.web{:style => "display:none"}
            %td
              %p.content_b System Requirements
          %tr.info.mobile{:style => "display:none"}
            %td
              %p.content_b Smartphone Model (*)
            %td{:style => "text-align:right"}
              %select#phonebrand{:name => "phonebrand"}
                %option Please choose an option
                %option{:value => "HTC"} HTC
                %option{:value => "LG"} LG
                %option{:value => "Samsung"} Samsung
                %option{:value => "Motorola"} Motorola
                %option{:value => "iPhone"} iPhone
                %option{:value => "Other"} Other
          %tr.info.mobile{:style => "display:none"}
            %td
              %p.content_b Smartphone Operating System (*)
            %td{:style => "text-align:right"}
              %select#androidversion{:name => "androidversion"}
                %option Please choose an option
                %option{:value => "2.0/2.1 (Eclair)"} 2.0/2.1 (Eclair)
                %option{:value => "2.2 (Froyo)"} 2.2 (Froyo)
                %option{:value => "2.3 (Gingerbread)"} 2.3 (Gingerbread)
                %option{:value => "3.0/3.1/3.2 (Honeycomb)"} 3.0/3.1/3.2 (Honeycomb)
                %option{:value => "4.0 (Ice Cream Sandwich)"} 4.0 (Ice Cream Sandwich)
                %option{:value => "4.1/4.2 (Jelly Bean)"} 4.1/4.2 (Jelly Bean)
                %option{:value => "4.4/4.4.4 (KitKat)"} 4.4/4.4.4 (KitKat)
                %option{:value => "5.0/5.0.2 (Lollipop)"} 5.0/5.0.2 (Lollipop)
                %option{:value => "iOS-5"} iOS 5
                %option{:value => "iOS-5.1"} iOS 5.1
                %option{:value => "iOS-6.0"} iOS 6.0
                %option{:value => "iOS-6.0"} iOS 7.0
                %option{:value => "iOS-6.0"} iOS 8.0
                %option{:value => "Dont Know"} Don't Know
                %option{:value => "Other"} Other
          %tr.info.web{:style => "display:none"}
            %td
              %p.content_b Computer Operating System (*)
            %td{:style => "text-align:right"}
              %select#computerOS{:name => "computerOS"}
                %option Please choose an option
                %option{:value => "Mac"} Mac
                %option{:value => "Windows"} Windows
                %option{:value => "Linux"} Linux
          %tr.info.web{:style => "display:none"}
            %td
              %p.content_b Computer Browser (*)
            %td{:style => "text-align:right"}
              %select#browser{:name => "browser"}
                %option Please choose an option
                %option{:value => "Chrome"} Chrome
                %option{:value => "Firefox"} Firefox
                %option{:value => "Internet Explorer"} Internet Explorer
                %option{:value => "Safari"} Safari
                %option{:value => "Opera"} Opera
                %option{:value => "Other"} Other
    .col-xs-12.col-md-6.row-fluid
      %p.content_b Problem report
      %p.content_b Action description (*)
      %p.content_i Please indicate the steps that make the error occur.
      %textarea#description.col-xs-12{:name => "steps", :rows => "4"}
      .col-xs-12.pull-right
        = link_to "Send", '#', :onclick => "if (!validateForm()){ return false; } else { jQuery('#support_form').submit(); }", :class => 'button'
:javascript
  jQuery("#surveyType").change(function() {
  	var selected_survey = jQuery(this).val();

  	console.log(selected_survey);
  	if (selected_survey == "web"){
  		jQuery(".mobile").fadeOut(complete);
  	}
  	else if(selected_survey == "mobile"){
  		jQuery(".web").fadeOut(complete);
  	}
  	else{
  		jQuery(".mobile").fadeOut();
  		jQuery(".web").fadeOut();
  	}

  	function complete(){
  		jQuery("."+selected_survey).each(function(){
  			jQuery(this).fadeIn();
  		})
  	}
  });

  function validateForm(){
  	survey = jQuery("#surveyType :selected").val();
  	if (survey == "Please choose an option"){
  		alert('Information required is missing\nThe category where the problem was detected is required.');
  		return false;
  	}
  	else{
  		if (survey == "mobile"){
  			phone = jQuery("#phonebrand :selected").val();
  			version = jQuery("#androidversion :selected").val();

  			if (phone == "Please choose an option" ){
  				alert('Information required is missing\nYour smartphone model is required.');
  				return false;
  			}
  			else if (version ==  "Please choose an option" ){
  				alert('Information required is missing\nThe operating system version of your smartphone is required.');
  				return false;
  			}
  		}
  		else if (survey == "web"){
  			comp = jQuery("#computerOS :selected").val();
  			browser = jQuery("#browser :selected").val();

  			if (comp == "Please choose an option" ){
  				alert('Information required is missing\nThe operating system of your computer is required');
  				return false;
  			}
  			else if (browser ==  "Please choose an option" ){
  				alert('Information required is missing\The browser that you used to access the web interface is required.');
  				return false;
  			}
  		}

  		var content = jQuery("#description").val();
  		if (content == ""){
  			alert('Please describe the steps that lead to the problem');
  			return false;
  		}
  	}

  	return true;
  }
